container{
overflow: scroll;
}
/*opmaak html elementen*/
body{
    background-image:url("../img/background.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}
a{
    color: #000;
    text-decoration: none;
}
strong{
    font-weight: bold;
}
p{
    padding-left: 5px;
    font-size: 14px;
}

/* h elementen */
h1{
    font-family: "ultra", serif;
    font-size: 100px;
    color: #000000;
    text-align: center;
}
h2{
    font-size: 2em;
    text-align: center;
}
h3{
    font-size: 25px;
    padding-left: 5px;
}
/* lists */
ul{
    margin-left: 5px;
}
ol{
    padding: 5px 0px 5px 25px;
    list-style-position: inside;
    list-style-type: upper-roman;
}

/* tabellen */
table{
    margin-left: 6.5%;
}
table, td{
    border: 2px solid #000000;
}
th, td{
    padding: 5px;
}
th{
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.25em;
}
/* opmaak footer */
footer{
    position: relative;
    float: right;
    top: 20px;
    width: 100%;
}
footer li{
    margin: 0 auto;
    padding: 0px 4%;
    display: inline-block;
}
footer h3{
    text-align: center;
    padding-left: 0px;
}
/* opmaak navigatie balk */
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    top: 100px;
}
.navbar ul {
    margin: 15px auto;
    text-align: center;
}
.navbar li{
    background-color: #B5501C;
    border: 1px solid #000000;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 20px 7%;
    opacity: 0.9;
}
.navbar li:hover{ 
    opacity: 1;
}
.navbar li:active{
    opacity: 1;
    font-size: 1.2em;
}
/* opmaak bulk */
.main{
    width: 82%;
    line-height: 30px;
    margin-left: 11%;
    margin-right: 6%;
 }
 .main li{
     font-size: 16px;
 }
 
/* opmaak homepage */
.foto{
    float: left;
}
.info{
    float: left;
    margin-left: 5px;
}
.story{
    margin-left: 2%;
    width: 46%;
    float: left;
}

/* opmaak techniek */
.tech-main{
    width: 82%;
    margin-left: 7%;
}
.uitleg{
    margin-left: 8%;
    padding: 5px;
}
.uitleg p{
    color: #000000; 
    padding-bottom: 5px;
    font-size: 1.5em;
}
.seq{
    margin-left: 12.5%;
}
.uitleg a{
    font-style: italic;
}

/* opmaak memory game */
.game{
    margin:0 auto;
	width: 50%;  
}
.img_grid{
    margin-top:20px;
    margin-left:5%;
	padding:15px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}
.extreme_memory{
    text-align: center;
    display:flex;
    justify-content: flex-start;
    width: 70%;
    margin-left: 20%;
}
.extreme_memory p{
    display: block;
    font-size: 2em;
    font-weight: bold;
}
.picture{
    padding: 5px;
}

/* opmaak motivatie */
.motivatie figure{
    display: block;
    float: right;
    width: 25%;
}
figcaption{
    width: 100%;
    font-size: 12px;
}
.motivatie p{
    float: left;
    width: 70%;
    padding-bottom: 10px;
    font-size: 1.1em;
}
/* opmaak id's */
#techtitle{
    font-size: 80px;
}

